{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "name": "{{ env "SERVICE_NAME" }}",
  "port": {{ .service.port }},
  "timeout": "{{ .service.timeout }}",
  "cache_ttl":  "{{ .service.cache_ttl }}",
  "output_encoding": "{{ .service.output_encoding }}",
  "plugin": {
    "pattern": ".so",
    "folder": "/usr/lib/krakend/plugins"
  },
  "endpoints": [
    {{ template "load_balancer_api.tmpl" .}}
  ],
  "extra_config": {
    {{ include "telemetry.tmpl" }},
    {{ include "cors.tmpl" }}
  }
}